:root {
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent-color: #4d5ae5;
  --active-color: #404bbf;
  --light-background: #f4f4fd;
  --white-color: #ffffff;
  --border-color: #e7e9fc;
  --icon-border-color: #8e8f99;
  --transition-duration: 250ms;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  color: var(--secondary-text-color);
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.logo,
.nav-link,
.contacts-link {
  text-decoration: none;
}

.section-title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.logo {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--accent-color);
}
