.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid var(--icon-border-color);
  border-radius: 4px;
  background-color: var(--light-background);
}

.features-icon {
  display: block;
}

.features-title {
  margin-bottom: 8px;
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
