.page-header {
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration) var(--transition-timing);
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  color: var(--secondary-text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration) var(--transition-timing);
}

.nav-link.current {
  color: var(--active-color);
}

.nav-link.current::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-color);
  content: '';
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--active-color);
}
