.portfolio .section-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  background-color: var(--white-color);
  transition: box-shadow var(--transition-duration) var(--transition-timing);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  outline: none;
}

.portfolio-image-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  inset: 0;
  padding: 40px 32px;
  color: var(--light-background);
  background-color: var(--accent-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing);
}

.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
  text-align: left;
}

.portfolio-title {
  margin-bottom: 8px;
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-category {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
