.team {
  background-color: var(--light-background);
}

.team .section-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.team-card {
  width: 264px;
  background-color: var(--white-color);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-card > img {
  width: 264px;
  height: 260px;
  object-fit: cover;
}

.team-content {
  padding: 32px 16px;
  text-align: center;
}

.team-name {
  margin-bottom: 8px;
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-role {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--active-color);
}

.social-icon {
  display: block;
  fill: var(--light-background);
}

@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    row-gap: 24px;
  }
}
